.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.order-detail-card {
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.empty-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}
.empty-order mat-icon {
  font-size: 48px;
  color: gray;
  margin-bottom: 10px;
}
