<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p>
          MyStore is your one-stop shop for all your e-commerce needs. We offer
          a wide range of products at competitive prices.
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <address>
          123 E-commerce Street<br />
          Shopville, SH 12345<br />
          <i class="fa fa-phone"></i> (123) 456-7890<br />
          <i class="fa fa-envelope"></i>
          <a href="mailto:info&#64;mystore.com">info&#64;mystore.com</a>
        </address>
        <h5>Subscribe to Our Newsletter</h5>
        <form class="d-flex">
          <input
            type="email"
            class="form-control me-2"
            placeholder="Enter your email"
            aria-label="Email"
          />
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <h5>Follow Us</h5>
      <div class="social-icons">
        <a
          href="https://facebook.com"
          target="_blank"
          aria-label="Facebook"
          class="social-icon"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          href="https://twitter.com"
          target="_blank"
          aria-label="Twitter"
          class="social-icon"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://instagram.com"
          target="_blank"
          aria-label="Instagram"
          class="social-icon"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://linkedin.com"
          target="_blank"
          aria-label="LinkedIn"
          class="social-icon"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <small class="d-block mt-3"
        >&copy; 2024 MyStore. All rights reserved.</small
      >
    </div>
  </div>
</footer>
